.edit-container{
    position: fixed;
    bottom:150px;
    right: 150px;
    top: 150px;
    left: 150px;
    border: 2px solid grey;
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.cross-mark{
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.submit-input{
    height: 40px;
    width: 50%;
    padding: 8px;
    border: none;
    border-radius: 10px;
    color: black;
}

.submit-button{
    height: 30px;
    width: 100px;
    border: none;
    background-color: dodgerblue;
    border-radius: 8px;
}

@media (max-width:576px){
    .edit-container{
        position: fixed;
        left: 15px;
        right: 15px;
        bottom: 20px;
        border: 2px solid grey;
        background-color: rgb(161, 170, 167);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        font-size: 12px;
    }
    .submit-input{
        height: 25px;
        width: 90%;
        padding: 8px;
        border: none;
        border-radius: 5px;
        color: black;
    }
}