*{
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: auto;
}

.created-task-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
    text-align: center;
}

.task-input-container{
    height: 40px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-bottom: 20px;
    gap: 8px;
    border: none;
}

.tasks-container{
    display: flex;
    flex-direction: row;
}

.task-input{
    width: 90%;
    border-radius:8px ;
    padding: 15px;
    
}

.add-button{
    height: 100%;
    width: 100px;
    border-radius:8px ;
    justify-self: flex-end;
}

@media (max-width:576px){
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    .task-input-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .add-button{
        width: 100px;
        height: 35px;
        margin-top:25px ;
    }
    .task-input{
        border-radius:8px ;
        padding: 15px;
        height: 25px;
    }
    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        gap: 10px;
        width: 100%;
    }
    .tasks-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .created-task-cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .ul{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        font-size:10px ;
        
    }
    
}